.table2 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 900px;
    margin-top:25px;
    margin-left:50px
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
      background-color:snow;
      font-weight: lighter;
      text-align: center;
      font-size: smaller;
  }
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .firstCol2 {
      text-align: center;
      font-weight: bold;
      width:15%
  }
  .secondCol{
      text-align:center;
  }
  .headTitle {
      font-family:arial, sans-serif;
      margin-left:50px;
      margin-top:25px;
      margin-bottom:25px;
  }