.table2 {
  font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 900px;
    margin-top:25px;
    margin-left:50px
  }
  
  td, th {
    border: 1px solid ;
    text-align: left;
    padding: 8px;

  }
  th {
      font-weight: lighter;
      text-align: center;
      font-size: smaller;
  }
  .firstCol2 {
      text-align: center;
      width:15%;
  }
  .secondCol{
      text-align:center;
  }
  .headTitle {
      font-family:arial, sans-serif;
      margin-left:50px;
      margin-top:25px;
      margin-bottom:25px;
  }