.img1 {
    height:40px;
    width:150px;
}

.img2 {
    height:35px;
    width:170px;
    position:relative;
    right:-980px;
}

.headerBar {
    height:75px;
    display:flex;
    align-items: center;
    background-color: white;
}

