.leftBar {
    background-color: white;
    border-right:5px solid ghostwhite;
    border-top:15px solid ghostwhite;
    border-left:20px solid ghostwhite;
    width:25%;
    height:750px;
    display:flex;
    flex-direction:column;
    align-items: center;
    COLOR:#565656;

}

.allBack {
    display:flex;
}

.img3 {
    height:35px;
    width:40px;
}
.fakeLinks{
    color:#565656;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.indLink {
    display:flex;
    align-content: center;
}
.linkDiv {
    position: relative;
    right:-30px;
    top:-50px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    color:#565656;
}
.linkedWindow {
    display:flex;
    align-content: center;
    height:990px;
}
.routingLink {
    position:relative;
    left:-40px;
    top:-50px;
    padding-bottom:10px;
    display:flex;
}

.div5 {
    display:flex;
}

.moveUp {
    position: relative;
    top:-5px;
}

.finalNewDiv{
    display:flex;
    flex-direction: column;
}